version: "3"
services:

  db:
    restart: always
    image: ${MYSQL_IMAGE}
    container_name: izone_db
    volumes:
      - ./db/mysql:/var/lib/mysql
      - ./db/my.cnf:/etc/my.cnf:ro
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${IZONE_MYSQL_NAME}
    networks:
      - backend

  redis:
    restart: always
    image: ${REDIS_IMAGE}
    container_name: izone_redis
    networks:
      - backend

  web:
    restart: always
    image: ${IZONE_IMAGE}
    container_name: izone_web
    environment:
      IZONE_MYSQL_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      IZONE_MYSQL_HOST: db
      IZONE_MYSQL_NAME: ${IZONE_MYSQL_NAME}
      IZONE_MYSQL_USER: root
      IZONE_MYSQL_PORT: 3306
      IZONE_REDIS_HOST: redis
      IZONE_REDIS_PORT: 6379
    env_file:
      - ./izone.env
    volumes:
      - ./web/static:/opt/cloud/izone/static
      - ./web/media:/opt/cloud/izone/media
      - ./web/whoosh_index:/opt/cloud/izone/whoosh_index
      - ./web/log:/opt/cloud/izone/log
    links:
      - db
      - redis
    depends_on:
      - db
      - redis
    networks:
      - backend
      - frontend

  nginx:
    restart: always
    image: ${NGINX_IMAGE}
    container_name: izone_nginx
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./web/static:/usr/share/nginx/izone/static
      - ./web/media:/usr/share/nginx/izone/media
    ports:
      - "${NGINX_PORT}:80"
    links:
      - web
    networks:
      - frontend

networks:
  backend:
    driver: bridge
  frontend:
    driver: bridge
