version: "3"
services:

  db:
    image: mysql:5.7
    volumes:
      - ./db/mysql:/var/lib/mysql
      - ./db/sql:/opt/sql
      - ./db/my.cnf:/etc/my.cnf
    restart: always
    container_name: izone_db
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}

  redis:
    image: redis
    restart: always
    container_name: izone_redis

  web:
    build:
      context: .
      dockerfile: ${DOCKERFILE_NAME}
    container_name: izone_web
    env_file:
      - ./izone/izone.env
    command: gunicorn izone.wsgi -b 0.0.0.0:80
    restart: always
    volumes:
      - ./izone:/app/izone
    links:
      - db
      - redis
    depends_on:
      - db
      - redis

  nginx:
    image: nginx
    container_name: izone_nginx
    volumes:
      - ./izone/static:/opt/izone/static
      - ./izone/media:/opt/izone/media
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/log:/var/log/nginx
    ports:
      - "80:80"
    links:
      - web
      - web:${DOMAIN_NAME}
    restart: always

