# db
MYSQL_IMAGE=mysql:5.7
MYSQL_ROOT_PASSWORD=python

# redis
REDIS_IMAGE=redis:alpine

# web
IZONE_IMAGE=hopetree/izone:lts
IZONE_MYSQL_NAME=izone

# nginx
NGINX_IMAGE=nginx:stable-alpine
NGINX_PORT=8888